[Unit]
Description=Ethereum go client node 1
After=syslog.target network.target
Wants=network.target

[Service]
User=blockservice
Group=blockservice
Type=simple
ExecStart=geth --networkid 6066 --datadir /home/blockservice/node1/data --identity "Main Node" --bootnodes enode://c8b59a5915b0df7f1bdaea6bd2f7c4e8056f3393f8198acdc09b80ab46f9b9913d1f28452c3da8a8d9c93983278ff546f22a9d7222c12b2200c9503f7144f4a8@147.182.143.50:0?discport=30301 --port 30304 --miner.threads 1 --miner.etherbase=0x4f00aa38162c6f24c505c9374c7b6b4631186066 --ipcdisable --syncmode full --http --rpc.allow-unprotected-txs --http.vhosts "rpc.tresleches.finance"  --http.corsdomain "*" --http.port 8545 --nodiscover --nat extip:147.182.143.50  --http.api admin,eth,miner,net,txpool,personal,web3 --http.addr 147.182.143.50 --ws --ws.addr 147.182.143.50 --ws.port 8549 --ws.api eth,net,web3  --miner.etherbase 0xe6D74C742698D26511504FBA2261a6097d556066  --ws.origins "rpc.tresleches.finance"     --rpc.gascap 80000000  --rpc.txfeecap 2 console

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=always
RestartSec=5s

[Install]
WantedBy=defaul.target
